<a href="https://colab.research.google.com/github/aditya26091999/genetic-algo-team-selection/blob/master/genetic_algorithm_teamselection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dependencies and Dataset retrieval

In [86]:
!pip install termcolor
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from termcolor import colored
import random as rn

Requirement already satisfied: termcolor in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [87]:
#loading the dataset from Github folder
datasetUrl = 'https://raw.githubusercontent.com/aditya26091999/genetic-algo-team-selection/master/SCOA_Dataset.csv?token=AMREUDFFUSQ4AQGENVAWS4DAXME7Q'
dataset = pd.read_csv(datasetUrl)

#checking the dataset loaded from Github
display(dataset.head())

            Timestamp  ...               Overview of your skillset [SkillSet]
0  5/22/2021 10:53:05  ...  FrontEnd, BackEnd, Databases, Testing, Cloud, ...
1  5/22/2021 10:58:35  ...                       FrontEnd, BackEnd, Databases
2  5/22/2021 10:59:22  ...                                           FrontEnd
3  5/22/2021 11:01:29  ...                                           FrontEnd
4  5/22/2021 11:01:30  ...  FrontEnd, BackEnd, Databases, Cloud, ProjectMa...

[5 rows x 13 columns]

In [88]:
print(colored("Original dataset columns\n","blue"))
print(dataset.columns)
print(colored("\nOriginal dataset shape : {}".format(str(dataset.shape)),"blue"))

dataset.drop(['Timestamp'],axis=1,inplace=True)
dataset.rename(columns={'User Interface (UI) [UI]': 'UI','API (Server Side programming) [API]':'API','Languages [Language]':'Language','Tools [Tools]':'Tools','Databases [DB]':'DB','Cloud [Cloud]':'Cloud','Artificial Intelligence [AI]':'AI','Internet of Things [IOT]':'IOT','Testing [Testing]':'Testing','Overview of your skillset [SkillSet]':'SkillSet'}, inplace=True)
print(colored("\nAfter removing obsolete columns\n","blue"))
print(dataset.columns)
print(colored("\nPreprocessed dataset shape : {}".format(str(dataset.shape)),"blue"))

dataset.head()

Original dataset columns

Index(['Timestamp', 'Name', 'Email', 'User Interface (UI) [UI]',
       'API (Server Side programming) [API]', 'Languages [Language]',
       'Tools [Tools]', 'Databases [DB]', 'Cloud [Cloud]',
       'Artificial Intelligence [AI]', 'Internet of Things [IOT]',
       'Testing [Testing]', 'Overview of your skillset [SkillSet]'],
      dtype='object')

Original dataset shape : (78, 13)

After removing obsolete columns

Index(['Name', 'Email', 'UI', 'API', 'Language', 'Tools', 'DB', 'Cloud', 'AI',
       'IOT', 'Testing', 'SkillSet'],
      dtype='object')

Preprocessed dataset shape : (78, 12)

                Name  ...                                           SkillSet
0      Aditya Kawale  ...  FrontEnd, BackEnd, Databases, Testing, Cloud, ...
1    Chirag Kriplani  ...                       FrontEnd, BackEnd, Databases
2  Hrishikesh Badakh  ...                                           FrontEnd
3    Tanuj Balkhande  ...                                           FrontEnd
4      Sushil Kamble  ...  FrontEnd, BackEnd, Databases, Cloud, ProjectMa...

[5 rows x 12 columns]

# Genome Making - Approach 1
(Using SkillSet column in dataset)

In [ ]:
genome_columns = ['Name','Email','FrontEnd','BackEnd','Databases','Testing','Cloud','AI','IOT','ProjectManagement']
skill_set = ['FrontEnd','BackEnd','Databases','Testing','Cloud','AI','IOT','ProjectManagement']
genome_dataset = pd.DataFrame(columns=genome_columns)

for student in dataset.values:
  student_name = student[0]
  student_email= student[1]
  student_skillset = student[11].replace(" ","").split(',')
  temp_dict = dict()
  temp_dict['Name'] = student_name
  temp_dict['Email'] = student_email
  for i in skill_set:
    if i in student_skillset:
      temp_dict[i]=1
    else:
      temp_dict[i]=0
  genome_dataset = genome_dataset.append(temp_dict,ignore_index=True)

display(genome_dataset.head())

print(colored("\nShape of genome dataframe : {}".format(str(genome_dataset.shape)),"blue"))

display(genome_dataset.describe().T)

                Name                       Email  ... IOT ProjectManagement
0      Aditya Kawale     adityamkawale@gmail.com  ...   0                 1
1    Chirag Kriplani    chiragkriplani@yahoo.in   ...   0                 0
2  Hrishikesh Badakh  hrishikeshbadakh@gmail.com  ...   0                 0
3    Tanuj Balkhande     tbalkhande010@gmail.com  ...   0                 0
4      Sushil Kamble      iamsushil303@gmail.com  ...   0                 1

[5 rows x 10 columns]

Shape of genome dataframe : (78, 10)

                  count unique                        top freq
Name                 78     78          Prathmesh Pethkar    1
Email                78     78  divekarsiddhi27@gmail.com    1
FrontEnd             78      2                          1   60
BackEnd              78      2                          1   50
Databases            78      2                          1   57
Testing              78      2                          0   69
Cloud                78      2                          0   65
AI                   78      2                          0   70
IOT                  78      2                          0   71
ProjectManagement    78      2                          0   59

# Genome Making - Approach 2
(Using percentage based skills)

Seeing count of skills per student

In [89]:
genome_columns = ['Name','Email','UI', 'API', 'Language', 'Tools', 'DB', 'Cloud', 'AI','IOT', 'Testing']
genome_dataset = pd.DataFrame(columns=genome_columns)

dataset.replace(np.nan, "",inplace=True)

dataset_copy = dataset.copy(deep=True)

for j in dataset_copy.columns[2:-1]:
  for i,val in enumerate(dataset_copy[j]):
      dataset_copy[j][i] = len(val.replace(" ","").split(','))

display(dataset_copy.head())

                Name  ...                                           SkillSet
0      Aditya Kawale  ...  FrontEnd, BackEnd, Databases, Testing, Cloud, ...
1    Chirag Kriplani  ...                       FrontEnd, BackEnd, Databases
2  Hrishikesh Badakh  ...                                           FrontEnd
3    Tanuj Balkhande  ...                                           FrontEnd
4      Sushil Kamble  ...  FrontEnd, BackEnd, Databases, Cloud, ProjectMa...

[5 rows x 12 columns]

Seeing percentage share of each skill

In [90]:
genome_columns = ['Name','Email','UI', 'API', 'Language', 'Tools', 'DB', 'Cloud', 'AI','IOT', 'Testing']
genome_dataset = pd.DataFrame(columns=genome_columns)

dataset.replace(np.nan, "",inplace=True)

for j in dataset.columns[2:-1]:
  for i,val in enumerate(dataset[j]):
      dataset[j][i] = len(val.replace(" ","").split(','))/8

display(dataset.head())

                Name  ...                                           SkillSet
0      Aditya Kawale  ...  FrontEnd, BackEnd, Databases, Testing, Cloud, ...
1    Chirag Kriplani  ...                       FrontEnd, BackEnd, Databases
2  Hrishikesh Badakh  ...                                           FrontEnd
3    Tanuj Balkhande  ...                                           FrontEnd
4      Sushil Kamble  ...  FrontEnd, BackEnd, Databases, Cloud, ProjectMa...

[5 rows x 12 columns]

Now we have values for fitness function, now we will start with Genetic Algorithm

# Creating genetic algorithm classes

Creating Population for genetic algorithm

In [114]:
class Population:

  #Initialising Population class
  def __init__(self, populationSize,total_students,teamSize):
    self.populationSize = populationSize
    self.total_students = total_students
    self.teamSize = teamSize
    self.population = []
    self.random_selected_students = []
  
  #Printing details of Population object
  def __str__(self):
    return ("Initial Population has {} genomes\nEach genome has {} students.\nEach genome has only {} team members".format(self.populationSize, self.total_students,self.teamSize))

  #Making initial population of popultionSize count
  def initGenomes(self):
    for j in range(1,self.populationSize+1):
      i = Individual(genomeSize = self.total_students,teamSize=self.teamSize)
      i.selectTeamMembers()
      print("Team #{}\n{}".format(j,i),end="\n\n")
      self.population.append(i)

  #Bring total_students details for GA from global dataset(Github/Cleaned)
  def createStudentDataset(self):
    self.random_selected_students = rn.sample(range(0,dataset.shape[0]-1),self.total_students)
    print(self.random_selected_students)

  def showCreatedStudents(self):
    for student in self.random_selected_students:
      display(dataset.iloc[student])
    
  #calculates the fitness for each team
  def calc_fitness(self):
    pass

  #Should return top 2 teams
  def checkFitness(self):
    pass

In [50]:
class Individual:
  def __init__(self,genomeSize,teamSize):
    self.genomeSize = genomeSize
    self.teamSize = teamSize
    self.genome = [0]*genomeSize

  def __str__(self):
    return ("Individual has {} students.\nOut of these {} students, only {} are considered in team.\nThe team members are at position: {}\nTeam looks like : {}\n".format(self.genomeSize,self.genomeSize,self.teamSize,self.teamMemberIndexList,self.genome))
 
  def selectTeamMembers(self):
    self.teamMemberIndexList = rn.sample(range(0,self.genomeSize-1),self.teamSize)
    for i in self.teamMemberIndexList:
      self.genome[i] = 1

In [ ]:
p = Population(populationSize=8, total_students=10, teamSize=4)
print(p,end="\n\n")
print(colored("These are teams\n","blue"))
p.initGenomes()

In [116]:
p.createStudentDataset()
p.showCreatedStudents()

[10, 65, 26, 39, 42, 67, 60, 31, 17, 19]

Name                      rutuja kaldate
Email              rjkaldate17@gmail.com
UI                                 0.125
API                                0.125
Language                            0.25
Tools                              0.125
DB                                  0.25
Cloud                              0.125
AI                                 0.125
IOT                                0.125
Testing                            0.125
SkillSet    Databases, ProjectManagement
Name: 10, dtype: object

Name                    shivam parve
Email       shivam.17u113@viit.ac.in
UI                             0.125
API                            0.125
Language                       0.125
Tools                           0.25
DB                             0.125
Cloud                          0.125
AI                             0.125
IOT                            0.125
Testing                        0.375
SkillSet              BackEnd, Cloud
Name: 65, dtype: object

Name                               Shrinivas Patil
Email                 shrinivaspatil4492@gmail.com
UI                                           0.625
API                                           0.25
Language                                       0.5
Tools                                        0.375
DB                                           0.375
Cloud                                         0.25
AI                                           0.375
IOT                                          0.875
Testing                                      0.125
SkillSet    FrontEnd, Databases, ProjectManagement
Name: 26, dtype: object

Name                                    Dhanashree Bhandari
Email                      dhanashreebhandari2410@gmail.com
UI                                                      0.5
API                                                   0.375
Language                                              0.625
Tools                                                 0.375
DB                                                      0.5
Cloud                                                  0.25
AI                                                    0.125
IOT                                                    0.25
Testing                                                0.25
SkillSet    FrontEnd, BackEnd, Databases, ProjectManagement
Name: 39, dtype: object

Name                      Pranali Shinde
Email              pranaliss25@gmail.com
UI                                 0.375
API                                0.125
Language                           0.375
Tools                               0.25
DB                                  0.25
Cloud                              0.125
AI                                 0.125
IOT                                0.125
Testing                             0.25
SkillSet    FrontEnd, BackEnd, Databases
Name: 42, dtype: object

Name                       Shreyas Nikam
Email            nik4m.5hreyas@gmail.com
UI                                  0.75
API                                 0.25
Language                             0.5
Tools                               0.25
DB                                 0.375
Cloud                               0.25
AI                                   0.5
IOT                                0.125
Testing                            0.375
SkillSet    FrontEnd, BackEnd, Databases
Name: 67, dtype: object

Name                    Ramya Joshi
Email       joshiramya99@gmail.com
UI                             0.25
API                           0.125
Language                      0.375
Tools                         0.125
DB                             0.25
Cloud                         0.125
AI                             0.25
IOT                           0.125
Testing                       0.125
SkillSet     BackEnd, Databases, AI
Name: 60, dtype: object

Name                                     Dnyaneshwari Mahajan
Email                                    dnyanu9498@gmail.com
UI                                                        0.5
API                                                     0.625
Language                                                0.625
Tools                                                   0.375
DB                                                        0.5
Cloud                                                    0.75
AI                                                      0.375
IOT                                                     0.875
Testing                                                  0.75
SkillSet    FrontEnd, BackEnd, Databases, Testing, Cloud, ...
Name: 31, dtype: object

Name                  Sneha Mathapati
Email       sneha9049106831@gmail.com
UI                              0.375
API                             0.125
Language                        0.375
Tools                           0.125
DB                              0.125
Cloud                           0.125
AI                              0.125
IOT                             0.125
Testing                         0.125
SkillSet                     FrontEnd
Name: 17, dtype: object

Name                 Vishal Dusane
Email       vishalrd1999@gmail.com
UI                             0.5
API                           0.25
Language                     0.375
Tools                         0.25
DB                           0.375
Cloud                        0.125
AI                           0.125
IOT                          0.125
Testing                       0.25
SkillSet        BackEnd, Databases
Name: 19, dtype: object

Creating Individual for population